@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* global style */

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.primary-text {
    color: #CF9FFF;
}

.btn-primary {
    border-radius: 5px;
    background: #CF9FFF;
    border: 0;
    color: white;
    padding: 18px 30px;
    font-size: 20px;
    font-weight: 700;
}

/* nav related task */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header section styles */

.main-title {
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.main-header {
    background-color: #FFF8F3;
    background-image: url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-picture {
    width: 584px;
    height: 676px;

}

.banner-greeting {
    color: var(--Dark-02, #474747);
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5;
}

.banner-title {
    color: var(--Dark-01, #181818);
    font-family: Open Sans;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 20px;
}

.banner-bio {
    color: var(--Dark-03, #757575);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin-bottom: 30px;

}

.banner-content {
    max-width: 500px;
}

/* main section styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about section styles */

.about {
    padding: 130px;
    border-radius: 10px;
background: #FFF8F3;
margin: 130px 0;
}

.section-title {
    color: var(--Dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.section-dec {
 color: var(--Dark-03, #757575);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.info-container {
    display: flex;
    justify-content: space-around;
}
.info {
    text-align: center;
    
}
.info-title {
font-weight: normal;
color: var(--Dark-03, #757575);
text-align: center;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
}
.info-des {
    font-weight: bold;
color: var(--Dark-02, #474747);
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 30px;
}
#what-i-do-des {
    padding: 30px 150px;
}